.simple-process {
  max-width: 1280px;
  margin: 80px 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;
  
}

/* LEFT */
.simple-process__left {
  flex: 0 0 48%;
}

.simple-process__eyebrow {
  font-family: "DM Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:#2563EB;
  margin-bottom: 14px;
}

.simple-process__heading {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.2;
  color: #1e293b;
  width:553px;
  margin-bottom: 16px;
}

.simple-process__subtext {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #64748b;
  line-height: 1.6;
  max-width: 430px;
  margin-bottom: 42px;
}

/* STEPS */
.simple-process__steps {
  width: 468px;margin-left: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.simple-process__connector {
  position: absolute;
  top: 20px;
  left: 45px;
  right: 45px;
  height: 2px;
  background: #5b7bff;
  z-index: 0;
}

.simple-process__step {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 120px;
}

.simple-process__circle {
  width: 48px;
  height: 48px;
  margin: 0 auto 14px;
  border-radius: 50%;
  background: #082b74;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #f8f8f8;
  box-shadow: 0 0 0 3px rgba(91, 123, 255, 0.18);
}

.simple-process__step-title {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 4px;
}

.simple-process__step-desc {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;padding-left: 3px;
  line-height: 19.5px;width: 176px;margin-left: -25px;
  color: #64748B;
}

/* RIGHT */
.simple-process__right {
  flex: 0 0 52%;
  display: flex;
  justify-content: flex-end;
}

.simple-process__image {
  
  width: 576px;
  height: 480px;
  object-fit: cover;
  border-radius: 22px;
  display: block;
}

/* MOBILE */
@media (max-width: 768px) {
  .simple-process {
    flex-direction: column;
    padding: 30px 20px;
  }

  .simple-process__left,
  .simple-process__right {
    flex: 1;
    width: 100%;
  }

  .simple-process__steps {
    width: 100%;
  }

  .simple-process__image {
    height: 240px;
  }

  .simple-process__heading {
    font-size: 26px;
  }
}